@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="d-inline-flex">
    <img alt="profile" src="./IMG_0007.JPG" width="200"/>
    <p class="p-5 text-center font-weight-bold" style="color:saddlebrown;">Hi! This is Suzy. I developed this for testing purposed. </p>
</div>
